.index-wrap {
	padding-right: 0;
	padding-left: 0;
}

.phone {
	margin-left: 100px;
}

.white-color-bold {
	color: white;
	font-weight: bold;
}

.light-grey-color {
	color: #777777;
}

.wrap-under-slider {
	background-color: #333;
	height: 50px;
	width: 100%;
	line-height: 50px;
}

.links-collection > li {
	display: inline-block;
}

.inline-block {
	display: inline-block;
}

.wrap-link {
	float: right;
	margin-right: 8%;
}

.first-link {
	border-left: 1px solid white;
}

.link {
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.wrap-links:hover {
	background-color: #777777;
}

.wrap-links-2:hover {
	background-color: #333;
}

.wrap-links, .wrap-links-2 {
	height: 50px;
	margin-left: -.36em;
	cursor: pointer;
}

.wrap-links > a, .wrap-links-2 > a {
	padding: 0 15px 0 15px;
}

.wrap-links > a:hover {
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

.wrap-links-2 > a:hover {
	color: white;
	cursor: pointer;
}

.wrap-tires {
	margin-top: 100px;
}

.search {
	width: 80%;
	height: 45px;
	margin-right: -.36em;
}

.search-btn {
	width: 20%;
	height: 45px;
	background-color: #333;
	color: white;
	font-weight: bold;
	border: 0;
	outline: 0;
}

.tire-img {
	margin-top: 20px;
}

.search-content {
	margin-top: 50px;
}

.grey-color {
	color: #333;
	text-decoration: none;
}

.links-2 {
	border-left: 1px solid #333;
}

.links-2-last {
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

.wrap-links-2 > a {
	color: #333;
	text-decoration: none;
}

.wrap-collection-2 {
	height: 50px;
	line-height: 50px;
	margin-top: 50px;
}

.content-header, .content-p {
	color: #777777;
}

.cover {
	margin-top: 55px;
}

.cover-2 {
	margin-top: 65px;
}

.content-footer-span {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.small-footer {
	background-color: #777777;
	height: 70px;
}

.input-footer {
	background-color: #333;
	width: 80%;
	height: 100%;
	color: white;
	font-size: 15px;
	border: 0;
	outline: 0;
	padding-left: 10px;
}

.small-footer-wrap-input {
	display: inline-block;
	background-color: #333;
	width: 35%;
	border: 1px solid white;
	height: 50px;
	margin-top: 10px;
	position: relative;
}

.input-footer-btn {
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background-color: #777777;
	color: #333;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -15px;
}

.input-footer-btn:hover {
	background-color: white;
	color: #777777;
}

.small-footer-wrap-2 {
	margin-top: 20px;
}

.footer {
	background-color: #333;
	height: 200px;
}

.first-li {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.footer-ul {
	list-style-type: none;
}

.li {
	margin-top: 5px;
}

.li > a {
	text-decoration: none;
	color: #777777;
	font-weight: bold;
}

.li > a:hover {
	color: white;
}

.footer-wrap, .big-footer-wrap-info {
	padding: 35px 0 35px 0;
}

.big-footer-wrap-info > ul {
	border-left: 1px solid white;
}

.information {
	display: inline-block;
}

.information-img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: #777777;
}

.content-header-3 {
	color: #777777;
	font-weight: normal;
}

.information-p {
	color: #777777;
}

.bold {
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}

.thumbnail-img {
	height: 200px !important;
}

.related-images {
	height: 200px !important;
}

.left-margin {
	margin-left: 4%;
}