body {
	font-family: Arial,Helvetica,sans-serif;
}
.b-page {
	background: #fff;
}
#wrapper {
	background-color: #fff;
}
.index-wrap {
	padding-right: 0;
	padding-left: 0;
}

.phone {
	/*margin-left: 100px;*/
}

.white-color-bold {
	color: white;
	font-weight: bold;
}

.light-grey-color {
	color: #777777;
}

.top-header {
	background-color: #333;
	height: 38px;
	width: 100%;
	line-height: 38px;
}
.top-header__phone {
	font-size: 13px;
}

.links-collection > li {
	display: inline-block;
}

.inline-block {
	display: inline-block;
}

.wrap-link {
	float: right;
	/*margin-right: 8%;*/
}

.first-link {
	border-left: 1px solid white;
}

.link {
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.top-header__nav > a {
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 13px;
	height: 37px;
	display: inline-block;
	padding: 0 10px;
}

.top-header__nav > a:hover {
	background-color: #2b2b2b;
	text-decoration: none;
	color: #fff;
}

.wrap-links-2:hover {
	background-color: #333;
}

.wrap-links, .wrap-links-2 {
	/*margin-left: -.36em;*/
	cursor: pointer;
}

.wrap-links > a, .wrap-links-2 > a {
	padding: 0 10px;
}

/*.wrap-links > a:hover {
	color: white;
	text-decoration: underline;
	cursor: pointer;
}*/

.wrap-links-2 > a:hover {
	color: white;
	cursor: pointer;
}

.wrap-tires {
	margin-top: 15px;
}

.tire-img {
	margin-top: 20px;
}

.search-content {
	margin-top: 50px;
	position: relative;
}

.search-content__input {
	width: 100%;
	height: 45px;
	margin-right: -.36em;
	background: #fbfbfb;
	border: none;
	padding: 13px 60px 13px 13px;
	border: 1px solid #d6d4d4;
}

.search-content__btn {
	width: 50px;
	height: 45px;
	background-color: #333;
	color: white;
	font-weight: bold;
	border: 0;
	outline: 0;
	position: absolute;
	right: 0;
}

.grey-color {
	color: #333;
	text-decoration: none;
}

.links-2 {
	border-left: 1px solid #333;
}

.links-2-last {
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

.wrap-links-2 > a {
	color: #333;
	text-decoration: none;
}

.wrap-collection-2 {
	height: 50px;
	line-height: 50px;
	margin-top: 50px;
}

.content-header, .content-p {
	color: #777777;
}

.cover {
	margin-top: 55px;
}

.cover-2 {
	margin-top: 65px;
}

.content-footer-span {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.small-footer {
	background-color: #777777;
	height: 70px;
}

.input-footer {
	background-color: #333;
	width: 80%;
	height: 100%;
	color: white;
	font-size: 15px;
	border: 0;
	outline: 0;
	padding-left: 10px;
}

.small-footer-wrap-input {
	display: inline-block;
	background-color: #333;
	width: 35%;
	border: 1px solid white;
	height: 50px;
	margin-top: 10px;
	position: relative;
}

.input-footer-btn {
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background-color: #777777;
	color: #333;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -15px;
}

.input-footer-btn:hover {
	background-color: white;
	color: #777777;
}

.small-footer-wrap-2 {
	margin-top: 20px;
}

.footer {
	background-color: #333;
	height: 200px;
}

.first-li {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.footer-ul {
	list-style-type: none;
}

.li {
	margin-top: 5px;
}

.li > a {
	text-decoration: none;
	color: #777777;
	font-weight: bold;
}

.li > a:hover {
	color: white;
}

.footer-wrap, .big-footer-wrap-info {
	padding: 35px 0 35px 0;
}

.big-footer-wrap-info > ul {
	border-left: 1px solid white;
}
.information-block {
	margin-top: 25px;
	margin-bottom: 25px;
}
.information {
	/*display: flex;
  align-items: center;*/
	font-family: "Open Sans",sans-serif;
	margin-bottom: 25px;
	padding: 0 10px;
}
.information__img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #6f6d6d;
	margin-right: 10px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
}
.information__header {
	margin: 0 0 5px 0;
	font-size: 21px;
	line-height: 25px;
	font-weight: 300;
	color: #6f6d6d;
}
.information__text {
	font-size: 13px;
	color: #777;
}
.information__text--bold {
	font-weight: 700;
	color: #000;
}
.information-border-left {
	border-left: 1px solid #d9d9d9;
	min-height: 280px;
}
/*.information-fc {
	padding-left: 30px;
	padding-right: 30px;
}*/

.content-header-3 {
	color: #777777;
	font-weight: normal;
}

.information-p {
	color: #777777;
}

.bold {
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}

.thumbnail-img {
	height: 200px !important;
}

.related-images {
	height: 200px !important;
}

.left-margin {
	margin-left: 4%;
}

.send-btn {
	display: block;
	padding: 10px 10px 10px 14px;
	border: 1px solid #74d578;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	color: #fff;
	cursor: pointer;
	text-align: center;
	text-transform: none;
	background-color: #74d578;
	font-weight: bold;
}

.send-select {
	max-width: 270px;
	width: 100%;
	height: 25px;
	font-size: 15px;
	color: #9c9b9b;
	vertical-align: middle;
	box-sizing: border-box;
	align-items: center;
	white-space: pre;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: start;
	background-color: white;
	display: block;
	margin-bottom: 15px;
	border: 1px solid #d6d4d4;
}

.send-text {
	max-width: 270px;
	padding: 3px 5px;
	height: 27px;
	display: block;
	width: 100%;
	font-size: 15px;
	color: #9c9b9b;
	vertical-align: middle;
	border: 1px solid #d6d4d4;
	letter-spacing: normal;
    word-spacing: normal;
    margin-bottom: 15px;
}

.send-message {
	height: 257px;
	max-width: 270px;
	padding: 3px 5px;
	display: block;
	width: 100%;
	font-size: 15px;
	color: #9c9b9b;
	vertical-align: middle;
	border: 1px solid #d6d4d4;
	letter-spacing: normal;
    word-spacing: normal;
    margin-bottom: 15px;
}

/* Slider */
.tparrows {
	background: rgba(0,0,0,0.5);
  width: 40px;
  height: 40px;
  position: absolute;
	top: 50%;
	transform: translateY(-50%);
  display: block;
  z-index: 100;
  border-radius: 50%;
	font-size: 26px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.tparrows:hover {
	background-color: #000;
}
.tparrows--left {
	left: 40px;
}
.tparrows--right {
	right: 40px;
}

.shop-phone {
	font-size: 13px;
}
.earphone-icon {
	font-size: 18px;
	color: #fff;
	padding-right: 7px;
}

/*shopping-cart*/
.shopping-cart {
	padding-top: 50px;
}
.shopping-cart__main {
	font-family: 'Open Sans', sans-serif;
	height: 45px;
	line-height: 45px;
	padding: 0 16px;
  background: #333;
  display: block;
  font-weight: bold;
  color: #777777;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  overflow: hidden;
	color: #fff;
	font-size: 18px;
}

.header__logo {
	padding-top: 15px;
}

.block-top-menu {
	padding: 25px 15px 0;
}
.block-top-menu__item {
	float: left;
  border-right: 1px solid #d6d4d4;
}
.block-top-menu__link {
	font-size: 14px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
  color: #484848;
  display: block;
  padding: 10px 20px;
}
.block-top-menu__link:hover {
	background: #333;
	border-bottom-color: #666666;
	color: #fff;
	text-decoration: none;
}

/* home-page-tabs */
#home-page-tabs {
	border: none;
	margin-top: 25px;
	margin-bottom: 25px;
}
#home-page-tabs > li {
	margin-left: 10px;
	padding-left: 10px;
}
#home-page-tabs > li:first-child {
	margin-left: 0;
	padding-left: 0;
}
#home-page-tabs > li:before {
	content: '';
  position: absolute;
  left: 0;
  height: 20px;
  width: 1px;
  background: #d6d4d4;
  top: 50%;
  margin-top: -10px;
}
#home-page-tabs > li > a {
	font: 300 16px/18px "Open Sans",sans-serif;
	text-transform: uppercase;
	border: none;
	outline: none;
	color: #555454;
	border-radius: 0;
	padding: 10px;
}
#home-page-tabs > li.active a,
#home-page-tabs > li a:hover {
	background: #333;
	color: #fff;
}
